apiVersion: v1
kind: Secret
metadata:
  labels:
    app: ralph
    service: app
  name: "{{ ralph_secret_name }}"
  namespace: "{{ project_name }}"
data:
# Create a secret entry per vault variable whose name starts by RALPH_ as most
# variables are backend credentials that will be used as environment variables
# to login to various backends.
{% for k, v in RALPH_VAULT.items() %}
{% if "RALPH_" in k %}
  {{ k }}: {{ v | b64encode }}
{% endif %}
{% endfor %}
