{% if RALPH_VAULT.ES_CA_CERTIFICATE is defined %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: ralph
    service: app
  name: "{{ ralph_es_ca_secret_name }}"
  namespace: "{{ project_name }}"
data:
  es-cluster.pem: {{ RALPH_VAULT.ES_CA_CERTIFICATE | b64encode }}
{% endif %}
