apiVersion: v1
kind: Secret
metadata:
  labels:
    app: ralph
    service: app
  name: "{{ ralph_secret_name }}"
  namespace: "{{ project_name }}"
data:
  # LDP backend
  RALPH_LDP_ENDPOINT: "{{ RALPH_VAULT.RALPH_LDP_ENDPOINT | b64encode }}"
  RALPH_LDP_APPLICATION_KEY: "{{ RALPH_VAULT.RALPH_LDP_APPLICATION_KEY | b64encode }}"
  RALPH_LDP_APPLICATION_SECRET: "{{ RALPH_VAULT.RALPH_LDP_APPLICATION_SECRET | b64encode }}"
  RALPH_LDP_CONSUMER_KEY: "{{ RALPH_VAULT.RALPH_LDP_CONSUMER_KEY | b64encode }}"
  RALPH_LDP_SERVICE_NAME: "{{ RALPH_VAULT.RALPH_LDP_SERVICE_NAME | b64encode }}"
  RALPH_LDP_STREAM_ID: "{{ RALPH_VAULT.RALPH_LDP_STREAM_ID | b64encode }}"
  # ES backend
  RALPH_ES_HOSTS: "{{ RALPH_VAULT.RALPH_ES_HOSTS | b64encode }}"
  RALPH_ES_INDEX: "{{ RALPH_VAULT.RALPH_ES_INDEX | b64encode }}"
  # Sentry
  RALPH_SENTRY_DSN: "{{ RALPH_VAULT.RALPH_SENTRY_DSN | b64encode }}"
  RALPH_EXECUTION_ENVIRONMENT: "{{ RALPH_VAULT.RALPH_EXECUTION_ENVIRONMENT | b64encode }}"
