apiVersion: v1
kind: Secret
metadata:
  labels:
    app: ralph
    service: app
  name: "{{ ralph_lrs_auth_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  auth.json: "{{ RALPH_VAULT.LRS_AUTH | to_json | b64encode }}"
