apiVersion: v1
kind: Service
metadata:
  labels:
    app: ralph
    service: app
    service_prefix: "{{ prefix }}"
    deployment_stamp: "{{ deployment_stamp }}"
    type: static-service
    removable: "no"
  name: "ralph-app-{{ prefix }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
    - name: {{ ralph_lrs_port }}-tcp
      port: {{ ralph_lrs_port }}
      protocol: TCP
      targetPort: {{ ralph_lrs_port }}
  type: ClusterIP
  selector:
    app: ralph
    deployment: "ralph-app-{{ deployment_stamp | default('undefined', true) }}"
