# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
build/
dist/
**/*.egg-info
venv
.venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
.dockerignore
Dockerfile
docker-compose.*

# Docs
docs
*.md
*.log

# Build
bin/
Makefile

# Development/test cache & configurations
.cache
.circleci
.coverage
.env
.env.dist
.git
.gitignore
.pytest_cache
.ralph
.vscode

# Assets
data

# Arnold environment / objects
.team
group_vars
src/tray
k3d-storage
