site_name: Ralph
site_url: https://openfun.github.io/ralph/
site_description: A learning events processor to feed your LRS
site_author: Open FUN (France Universite Numerique)

repo_name: openfun/ralph
repo_url: https://github.com/openfun/ralph/

copyright: 2020-present GIP FUN MOOC

theme:
    name: material
    highlightjs: true

markdown_extensions:
    - attr_list
    - mkdocs_click
    - smarty
    - toc:
        permalink: True
        separator: "_"

nav:
    - 'Getting started':
        - index.md
    - 'User guide':
        - 'Commands': commands.md
        - 'Backends': backends.md
        - 'Learning event models':
            - 'Rationale': models/index.md
            - 'Open edX events': models/edx.md
    - 'Developer guide':
        - 'Contribute': contribute.md
    - 'About the project':
        - 'Changelog': CHANGELOG.md
        - 'License': LICENSE.md

plugins:
    - search
    - mkdocstrings
