apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ralph-pvc-history
  namespace: "{{ namespace_name }}"
  labels:
    app: ralph
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ ralph_history_volume_size }}
  storageClassName: "{{ default_storage_class_rwx }}"
