apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ralph-pvc-history
  namespace: "{{ project_name }}"
  labels:
    app: ralph
    version: "{{ ralph_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ ralph_history_volume_size }}
