# customer: {{ customer }}
# env_type: {{ env_type }}

# LDP storage backend
#
# You need to generate an API token for your OVH's account and fill the service
# name and stream id you are targetting.

# RALPH_LDP_ENDPOINT:
# RALPH_LDP_APPLICATION_KEY:
# RALPH_LDP_APPLICATION_SECRET:
# RALPH_LDP_CONSUMER_KEY:
# RALPH_LDP_SERVICE_NAME:
# RALPH_LDP_STREAM_ID:

# ES database backend

# RALPH_ES_HOSTS: http://elasticsearch:9200
# RALPH_ES_INDEX: statements

# Sentry

# RALPH_SENTRY_DSN: https://fake@key.ingest.sentry.io/1234567
# RALPH_EXECUTION_ENVIRONMENT: production
