# customer: {{ customer }}
# env_type: {{ env_type }}

# ES database backend
# RALPH_BACKENDS__DATABASE__ES__HOSTS: http://elasticsearch:9200
# RALPH_BACKENDS__DATABASE__ES__INDEX: statements

# If you have self-generated a CA certificate for your ES cluster nodes, you may
# also need this CA certificate to check certificates while requesting the
# cluster. If defined, this CA certificate will be mounted to
# /usr/local/share/ca-certificates/es-cluster.pem
#
# We expect this certificate to be pasted in PEM format
# ES_CA_CERTIFICATE:

# LRS

# Authentication
#
# For each entry, we expect the following keys:
#
#   - username (str)
#   - hash (str)
#   - scopes (list)
#
# Example:
#
# LRS_AUTH:
#   - username: "foo"
#     hash: "thehash"
#     scopes:
#       - "foo_scope"
#
# For more information about hash generation, see Ralph's documentation:
# https://openfun.github.io/ralph/api/#creating_a_credentials_file
LRS_AUTH: []

# Sentry

# RALPH_SENTRY_DSN: https://fake@key.ingest.sentry.io/1234567
# RALPH_EXECUTION_ENVIRONMENT: production
