# customer: {{ customer }}
# env_type: {{ env_type }}

# LDP storage backend
#
# You need to generate an API token for your OVH's account and fill the service
# name and stream id you are targetting.

# RALPH_LDP_ENDPOINT:
# RALPH_LDP_APPLICATION_KEY:
# RALPH_LDP_APPLICATION_SECRET:
# RALPH_LDP_CONSUMER_KEY:
# RALPH_LDP_SERVICE_NAME:
# RALPH_LDP_STREAM_ID:

# Swift storage backend

# RALPH_SWIFT_OS_AUTH_URL:
# RALPH_SWIFT_OS_IDENTITY_API_VERSION:
# RALPH_SWIFT_OS_USER_DOMAIN_NAME:
# RALPH_SWIFT_OS_PROJECT_DOMAIN_NAME:
# RALPH_SWIFT_OS_TENANT_ID:
# RALPH_SWIFT_OS_TENANT_NAME:
# RALPH_SWIFT_OS_USERNAME:
# RALPH_SWIFT_OS_PASSWORD:
# RALPH_SWIFT_OS_REGION_NAME:
# RALPH_SWIFT_OS_STORAGE_URL:

# ES database backend

# RALPH_ES_HOSTS: http://elasticsearch:9200
# RALPH_ES_INDEX: statements

# Sentry

# RALPH_SENTRY_DSN: https://fake@key.ingest.sentry.io/1234567
# RALPH_EXECUTION_ENVIRONMENT: production
